*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}
body{
    cursor: default;
	font-family: 'Roboto',sans-serif;
}
center p{
    position: relative;
    z-index: 1000;
    color: #fff;
    line-height: 30px;
}
header{
    width: 400px;
    height: auto;
    background: rgb(238, 234, 226);
    position: relative;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    display: grid;
    margin-top: 300px;
    padding-bottom: 20px  ;
}
header img{
    position: sticky;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.head{
    font-family: 'FZShuTi';
    line-height: 60px;
    font-size: 30px;
}
.kotak{
    position: relative;
}
.kotak hr{
    margin-bottom: 20px;
}
.kotak ul li input{
    font-size: 12px;
    border: 1px solid rgb(180, 176, 169);
    padding: 10px 15px;
    border-radius: 20px;
    font-family: inherit;
    margin-bottom: 1rem;
    background: rgb(238, 234, 226);
}
.kotak ul li a{
    font-size: 13px;
    color: black;
}
.kotak ul li a:hover{
    border-bottom: 1px solid;
}
.kotak ul li i{
    margin-left: 5px;
    position: absolute;
    padding: 10px 0px;
    width: 10px;
    height: 10px;
}
.regis{
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #d1d3e2;
    padding: 10px 58px;
    border-radius: 20px;
    font-family: inherit;
    margin-bottom: 1rem;
    background: rgb(232, 181, 127);
    transition: ease-out .1s;
}
.regis:hover{
    background: rgb(251, 203, 152);
}
.wall{
    background: url(https://img.freepik.com/free-photo/piece-golden-rice-rice-waiting-be-harvested_1205-11336.jpg?w=1380&t=st=1668351517~exp=1668352117~hmac=f0eef016bfc4224e1e08bf9a93136e08c95c04895b0f7eb7cdd98ad191c1ffaf);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.walls{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.619);
}
.kotak i {
    cursor: pointer;
}
.kotak i:hover{
    color: rgb(145, 145, 145);
}
.notif{
    top: 0;
    background-color: #f8d7da;
    width: 100%;
    z-index: 10;
    color: #842029;
    text-align: center;
    line-height: 70px;
    position: absolute;
    font-size: 20px;
}
.notif i{
    margin-right: 10px;
}